/* ---------- root variables ---------- */
:root {
  --green: rgb(73,180, 106);
  --light-green: rgb(172, 198, 201);
  --dark-green: #216435;
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --font-family: Helvetica, Arial, sans-serif;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #000;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: 'montserrat';
}

.green{
  background: linear-gradient(0deg, rgba(58,162,90,1) 0%, rgba(79,193,114,1) 100%);
}

/* ---------- topbar styling ---------- */
.topbar {
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar img{
  width: 100px;
  float: left;
}

.topbar a img{
  width: 30px;
  color: #fff;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

.topbar a {
  position: absolute;
  right: 30px;
  top: 25px;
}

.topbar svg{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 150px;
}


/* ---------- tabbar styling ---------- */
.tabbar2 {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100vw;
  padding-top: 15px;
  height: 80px;
  vertical-align: middle;
  border-top-left-radius: 70% 30%;
  border-top-right-radius: 70% 30%;
  text-align: center;
}

nav {
  line-height: 0px !important;
}

/* Style the links inside the navigation bar */
.tabbar2 a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 90px;
  height: 90px;
  padding: 10px 0 0 0;

}

.btn-floating{
  position: fixed;
  left: calc(50% - 23px);
  bottom: 7%;
}

.tabbar2 a img{
  width: 35px;
}

.tabbar2 a img:visited{
  color: var(--green);
}

.tabbar2 a p{
  color: #000;
}
/* Change the color of links on hover */
.tabbar2 a:hover {
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar2 a.active {
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh);
  background: var(--green);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 120px 0;

}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- Home page ---------- */

.card{
  border-radius: 15px;
}

.card.small {
  left: 5%;
  right: 15%;
  height: 375px;
  width: 70%;
  margin-top: 15px;
}

.headermain h2{
  font-size: 20px;
  margin: 0px;
  font-family: 'swister';
}

.headermain h1{
  margin: 0;
  font-size: 22px;
}

.headermain{
  padding: 15px 0 0 20px;
  color: #fff;
}

.radio-buttons-7{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 30%;
 padding: 15px 0 ;
}

#circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7{
  border-radius: 25px;
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
}

#circle1{
  background-color: #fff;
}

#full-width2{
  width: 100%;
  display: flex;
  justify-content: center;
}




/* ---------- Login page ---------- */

#login-logo{
  position: absolute;
  top: 19%;
  float: none;
  width: 200px;
  left: 25%;
}

.firebaseui-idp-password, .firebaseui-idp-password:hover, .mdl-button.firebaseui-idp-password:active, .mdl-button.firebaseui-idp-password:focus{
  background-color: #fff;
}

.firebaseui-idp-text{
    color: #757575;
  }

.firebaseui-idp-facebook, .firebaseui-idp-facebook:hover, .mdl-button.firebaseui-idp-facebook:active, .mdl-button.firebaseui-idp-facebook:focus{
  background-color: #fff;
}

.mdl-button--primary.mdl-button--primary{
  color: #757575;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after,
.firebaseui-textfield.mdl-textfield .firebaseui-label::after,
.mdl-textfield__label:after{
  background-color: white !important;
}

.mdl-button{
  border-radius: 25px;
}

.mdl-button--raised.mdl-button--colored, .mdl-button--raised.mdl-button--colored:active, .mdl-button--raised.mdl-button--colored:hover{
  border-radius: 25px !important;
}


/* ---------- Profil ---------------- */

#svg-profil{
  height: 290px;
}


#profil-info input::placeholder {
  padding-right: 15px;
  font-size: 15px;
}

#profil-info input{
  text-align: right;
  border-color: #000;
  background-color: #fff;
  color: #000;
}

#profil-info label{
  color: #000;
  font-size: 15px;
  position: absolute;
  padding: 10px 0 10px 15px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
  margin: 0 0 0 0;
}

.profil-headline {
  color: white;
  font-size: 18px;
  margin-top: 35%;
  padding-left: 15px;
}

#placement55{
  display: flex;
  flex-direction: column;
}

.file-path-wrapper input{
  background-color: var(--green) !important;
  border-bottom: 1.5px solid #fff !important;
}
.no-bg-color-input input {
  background-color: #fff !important;
  border-bottom: 2px solid var(--green) !important;

}

.skub{
  margin-right: 10px;
  margin-top: 10px;
}

#profile-image{
  height: 100%;
  width: 100% !important;
  z-index: 999;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

#profile-image img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid white;
  width: 110px;
  height: 110px;

}

#profile-image h1 {
  font-size: 26px;
  margin-top: 20px;
}




/* ---------- Opret madplan ---------- */

#opret, #opret2{
  background-color: #FFF;
}

.headerweek{
  color: #000;
  padding: 20px 0 0 0;
}

.todaysdate{
  font-size: 15px;
  padding: 15px 0 0 0;
}

.headerweek h2{
  font-size: 20px;
  margin: 0px;
  font-family: 'swister';
}

.headerweek h1{
  margin: 0;
  font-size: 22px;
}

.mainweek-wrapper{
  padding: 0 20px;
}

#food-input, #guests, #food-input2, #guests2{
  text-transform: uppercase;
  font-size: 18px;
  height: 35px;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: var(--green);
  box-shadow: 0 1px 0 0 var(--green);
}

.select-wrapper input.select-dropdown:focus{
  border-bottom: 1px solid var(--green);
}

.dropdown-users, .dropdown-users2{
  width: 60%;
  color: #757575;
}

.select-dropdown, .select-dropdown2{
  color: #757575;
}

#guests-place, #guests-place{
  width: 35%;
  padding-left: 15px;
}

#placement2, #placement3 {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.input-field.col label{
  left: 0;
}

#commentary-input, #commentary-input2{
  font-size: 10px;
  height: 35px;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-top-width: 0px !important;

}

#write-comment, #write-comment2{
  padding-top: 15px;
}

#link-to, #link-to2{
  padding-top: 15px;
}

#recipe-link, #recipe-link2{
  font-size: 16px;
  height: 35px;
}

#upload-recipe-image, #upload-recipe-image2{
  font-size: 16px;
  height: 35px;
}

.btn span{
  line-height: 0px;
}

.btn span i{
  padding-right: 5px;
  line-height: 0;
}

.btn, .btn-large, .btn-small{
  background-color: var(--green);
}

.upload-file6 {
  padding-top: 15px;
}

.button-align{
  border-radius: 8px;
  padding: 0 20px;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus{
  background-color: var(--green);
}

/*-------- input felt indkøbsliste --------- */




#scrollable p {
  border-bottom: 2px solid #efefef;
  width: 95%;
}

.toggle-edit {

}

.indkob-titel {
  margin: -20px 0 -20px 40px;
  color: white;
}

#scrollable {
  overflow: scroll;
  height: 270px;
}

#scrollable p {
  padding: 5px;
}

.indkob-card {
  margin: 40px;
  border-radius: 15px;
  padding: 0 0 20px 20px;
  background-color: white;
}

#vareForm {
  position: fixed;
  bottom: 150px;
  background-color: white;
  width: 80.7%;
  padding: 20px;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 3px solid #efefef;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px -8px 21px -9px rgba(0, 0, 0, 0.10);
}

#about {
  position: fixed;
  width: 100%;
}

#vare {
  width: 80%;
}

#tilfoj-vare {
  bottom: 20%;
  transform: translateY(-25%);
  left: 80%;
  background-color: var(--dark-green);
}

.clear-button {
  margin-top: 10px;
  background-color: red;
  position: absolute;
  display: none;
}

.hide-delete {
  display: none;
  right: 0;
  color: red;
  float: right;

}

.edit-icon-2 {
  margin-left: 81%;
  border-radius: 0 15px 0 100%;
  width: 20%;
  height: 50px;
  background-color: var(--dark-green);
}

.edit-icon-2 button i {
  color: white;
  transform: translateX(50%);
  padding-top: 6px;
}

.top-indkob-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  border-radius: 15px;
}

.indkob-titel h1{
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

/* ---------- Materialize Carousel ---------- */
.card {
  margin: .5rem 2em 1rem 2em;
}

.carousel .indicators .indicator-item {
  background-color: #ee6e7382;
  width: 10px;
  height: 10px;
}

.carousel .indicators .indicator-item.active {
  background-color: #f44336;
  width: 10px;
  height: 10px;
}

.carousel.carousel-slider, .carousel-item {
  width: 90%;
  min-height: 55%;
  position: absolute;
  top: 27%;
  left: 5%;
  background-color: #fff;
  border-radius: 15px;
}

.carousel, .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 33%;
    margin: 0;
}

.carousel .indicators .indicator-item{
  background-color: var(--light-grey);
}

.carousel .indicators .indicator-item.active{
  background-color: var(--green);
}

#day-of-week{
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  padding-left: 20px;
}

#title-header{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  padding: 0 0 0 20px;
  margin: 0;
}

#small-titles2{
  text-align: left;
  color: #000;
  padding: 0 0 0 20px;
}

#retten-mad{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 37%;
}

#kommentar-data{
 text-align: left;
 padding: 0 0 7px 20px;
 color: var(--dark-grey);
 font-weight: 200;
}


.aligments3{
  display: flex;
  flex-direction: column;
}

.button-klar{
  width: 35%;
  border-radius: 15px;
  margin: 0 0 0 20px;
}

.persons-card img{
  height: 35px;
  width: 35px;
  z-index: 999;
  float:left;
  border-radius: 25px;
  margin-left: -10px;
}

.persons-card {
  padding-left: 30px;
}



/* ---------- animations ---------- */

/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* ---------- authentication styling ---------- */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green);
}


@media screen and (min-width: 375px) and (max-width: 413px){
  .headermain {
    margin-bottom: 10px;
  }

  .carousel.carousel-slider, .carousel-item {
    top: 28%;
  }

  .button-klar {
    font-size: 12px;
    width: 38%;
  }


  #vareForm {
    bottom: 115px;
    width: 79.5%;
  }

  .indkob-card {
    height: 290px;
    border-radius: 15px 15px 0 0;
    width: 79.1%;
  }

  #scrollable {
    height: 240px;
  }

}
@media only screen
    and (min-width : 375px)
    and (min-height : 812px)
     {

    #scrollable {
      height: 370px;
    }

    .indkob-card {
      height: 500px;
    }



    }
